var apimanUrl = UrlHelpers.join("http://{{ .Env.APIMAN_SERVICE_HOST }}:{{ .Env.APIMAN_SERVICE_PORT }}/apiman")
var APIMAN_CONFIG_DATA = {
    "apiman" : {
        "version" : "{{ .Env.APIMAN_VERSION }}",
        "builtOn" : "{{ .Env.APIMAN_BUILT_ON }}",
        "logoutUrl" : "/notavailable"
    },
    "user" : {
        "username" : "n/a"
    },
    "ui" : {
        "header" : false
    },
    "api" : {
        "endpoint" : apimanUrl,
        "auth" : {
            "type" : "none"
        }
    }
}
