window.OPENSHIFT_CONFIG = {
  master_uri: "https://localhost:{{ .Env.KUBERNETES_SERVICE_PORT }}",

  google: {
    clientId: "{{ .Env.GOOGLE_OAUTH_CLIENT_ID }}",
    clientSecret: "{{ .Env.GOOGLE_OAUTH_CLIENT_SECRET }}",
    authenticationURI: "{{ .Env.GOOGLE_OAUTH_AUTHENTICATION_URI }}",
    tokenURI: "{{ .Env.GOOGLE_OAUTH_TOKEN_URL }}",
    scope: "{{ .Env.GOOGLE_OAUTH_SCOPE }}",
    redirectURI: "{{ .Env.GOOGLE_OAUTH_REDIRECT_URI }}"
  }
};
