window.OPENSHIFT_CONFIG = {
  master_uri: "https://{{ .Env.KUBERNETES_SERVICE_HOST }}:{{ .Env.KUBERNETES_SERVICE_PORT }}",

  google: {
    clientId: "{{ .Env.GOOGLE_OAUTH_CLIENT_ID }}",
    clientSecret: "{{ .Env.GOOGLE_OAUTH_CLIENT_SECRET }}",
    authenticationURI: "{{ .Env.GOOGLE_AUTHENTICATION_URI }}",
    authorizationURI: "{{ .Env.GOOGLE_AUTHORIZATION_URI }}",
    scope: "{{ .Env.GOOGLE_OAUTH_SCOPE }}",
    redirectURI: "{{ .Env.GOOGLE_OAUTH_REDIRECT_URI }}"
  }
};
